#showcase {
  position: relative;
  background: url("https://source.unsplash.com/random/1920x1080/?street-photography");
  background-position: 0px -200px;
  background-repeat: no-repeat;
  min-height: 560px; }

.sticky-top {
  position: sticky;
  top: -1px; }

.mb-resp {
  margin-bottom: 1rem; }

#footnote {
  font-size: 0.8rem;
  text-align: right;
  margin-bottom: 0px; }
